body {
    background-image: url(images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h2 {
    background-color: rgb(106, 106, 212);
}


footer{
    background-color:rgb(31, 30, 30);
    color:white
}